html,body {
	margin:0;padding:0
}

body {
	font: 76% arial,sans-serif;
	color: white;
	background-color: black;
}

p {
	margin:10px 10px 10px
}

a {
	display:block;color: #981793;padding:10px
}

h2 {
	padding: 0px 0px 0px 20px;
}

div#header h1 {
height:80px;line-height:80px;margin:0;
  padding-left:10px; background: white ;color: black
}
div#content p{
	line-height:1.4;
	margin-left: 10px;
}
nav {
	background: rgb(169,169,169);
}

#extra {
	background: #111
}
div#footer{
	background: #333;color: #FFF
}
div#footer p {
	margin:0;padding:5px 10px
}

div#wrapper{
	float:right;width:100%;margin-left:-200px
}
div#content, .blog{
	margin-left:200px
}
nav {
	float:left;
	width:180px;
	padding-right: 20px;
}

div#footer{
	clear:both;width:100%
}

.navimg {
	max-width: 80%;
	float: inherit;
	width:inherit;
	margin: 10%;
	border-radius: 3px 3px 3px 3px;
}

.blog {
  display: inline-block;
    width: 50%;
    margin-right: 10%;
    margin-left: 10%;
    padding: 0px;
}

.galleryimg {
    background-color: black;
    border: black;
    font-size: 20px;
    width: 20%;
    border-radius: 5px;
    padding: 1px;
    margin: 20px;

}

.inactive {
    background-color: #111;
    visibility: hidden;
    display: none;
}

.gallery{
  display: inline-block;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    padding: 0px;
}

a {
	color: white;
}

.lasttitle {
	margin-left: 20px;

}
