
@font-face {
   font-family: MyUnderwood;
   src: url("fonts/MyUnderwood.ttf");
}

body {
    background-image: url("images/tiled2.jpg");
    background-repeat: repeat;
    font-family: MyUnderwood;
    background: black;
    color: white;
}

p {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}
